<div class="container text-center recipe-container mt-3">
  <h2 class="subtitle-text mt-3" *ngIf="!recipeId" >Aggiungi Ricetta</h2>
  <h2 class="subtitle-text mt-3" *ngIf="recipeId" >Modifica Ricetta</h2>
  <form matFormField [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Nome Ricetta</mat-label>
      <input matInput type="text" formControlName="name"/>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Porzioni</mat-label>
      <input matInput type="number" formControlName="servings"/>
    </mat-form-field>
    <br />
    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-label>Etichette</mat-label>
      <mat-chip-list #chipList aria-label="tags">
        <mat-chip *ngFor="let tag of tags" (removed)="removeChip(tag)">
          {{ tag }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Aggiungi Etichetta..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addChip($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>

    <div *ngIf="ingredients.length>0" class="container ingredient-container mb-3 pt-3">
      <ul>
        <li *ngFor="let item of ingredients,let i=index">
          <button type="button" mat-icon-button color="accent" (click)="removeIngredient(i)"><mat-icon>clear</mat-icon></button>
          {{item.name}} <i>{{item.amount}} {{item.unit}}</i>
        </li>
      </ul>
    </div>

    <button
      mat-raised-button
      color="accent"
      type="button"
      class="mb-3 w-100"
      (click)="openDialog()"
    >
      Aggiungi Ingrediente
    </button>
    <br />
    <button *ngIf="!recipeId" mat-raised-button color="primary" class="mb-3 w-100" type="submit" [disabled]="this.recipeForm.invalid||this.ingredients.length==0">
      Aggiungi Ricetta
    </button>
    <button *ngIf="recipeId" mat-raised-button color="primary" class="mb-3 w-100" type="submit" [disabled]="this.recipeForm.invalid||this.ingredients.length==0">
      Salva Modifiche
    </button>
    <button mat-stroked-button class="mb-3 w-100" type="button" routerLink="/kitchen">
      Annulla
    </button>
  </form>
</div>

