th{
  position: relative;
  button{
    position: absolute;
    right: 0px;
    top: 8px;
    //border-radius:100px;
  }
}
td{
  position: relative;
  div{
    position: absolute;
    right: 0;
    top: 5px;
    }
  }

