  .material-icons {
    vertical-align:text-bottom;
    font-size: 18px !important;
  }

    .mat-column-name{
    width:40%;
    text-align: left;
  }
    .mat-column-servings{
    width:30%;
    text-align: center;
  }

  .mat-column-commands{
    width:30%;
    text-align: right;
  }
  .mat-icon-button{
    margin-right: 5px;
  }
